# Node modules
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/
vendor/
firebase/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# npm debugging logs
npm-debug.log
